
<!-- page's inner styles -->
<style></style>

<div class="row">
  <div class="col-xs-12 page-header ">
    <!-- PAGE CONTENT BEGINS -->
    <div class="pull-left">
      <div>
        <h1 class="blue">
          <a href="">{{project.name}}</a> project
        </h1>
      </div>
      <div class="padding-left-50px">
        <h4>Sprint List</h4>
      </div>
    </div>
    <div class="pull-right">
      <a ui-sref="sprint.create({ projectId: project.id })">
        <button class="btn btn-info" type="button">
          <i class="ace-icon fa fa-plus wrenching bigger-110"></i> Add new
        </button>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div ng-show="message">
      <h3 class="lighter red">{{message}}</h3>
    </div>
    <!-- <div class="dataTables_borderWrap"> -->
    <div>
      <table id="sample-table-2" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="center"><label class="position-relative"> <input type="checkbox" class="ace" /> <span
                class="lbl"></span>
            </label></th>
            <th></th>
            <th>Name</th>
            <th><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>Start Date</th>
            <th>State</th>

            <th>Project</th>
            <th>Plan Estimate</th>
            <th>Task Estimate</th>
            <th>Actuals</th>

          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="sprint in sprints" on-last-repeat>
            <td class="center"><label class="position-relative"> <input type="checkbox" class="ace" /> <span
                class="lbl"></span>
            </label></td>
            <td>
              <button class="btn btn-xs btn-info" ng-click="goToEditSprint(sprint.id)">
                <i class="ace-icon fa fa-pencil bigger-120"></i>
              </button>

              <button class="btn btn-xs btn-danger" ng-click="onDelete(sprint.id)">
                <i class="ace-icon fa fa-trash-o bigger-120"></i>
              </button>

            </td>
            <td ng-bind="sprint.name"></td>
            <td ng-bind="toVNDateFormat(sprint.startDate)"></td>
            <td ng-bind="sprint.sprintstate.name"></td>
            <td ng-bind="sprint.project.name"></td>

            <td ng-bind="sprint.planEstimate">{{sprint.planEstimate}}</td>
            <td ng-bind="sprint.taskEstimate"></td>
            <td ng-bind="sprint.actuals"></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- page specific plugin scripts -->
<script type="text/javascript">
  var scripts = [ null, null ]; //[null, './assets/js/jquery-ui.custom.js', './assets/js/bootbox.js', null]
  $('.page-content-area').ace_ajax('loadScripts', scripts, function() {
    //inline scripts related to this page
    //console.log(" load table 1");
  });
</script>

<script type="text/javascript">

  var initTable = function() {
    var oTable1 = $('#sample-table-2')
    //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
    .dataTable({
      bAutoWidth : true,
      "aoColumns" : [ {
        "bSortable" : false
      }, null, null, null, null, null, null, null, {
        "bSortable" : false
      } ],
      "aaSorting" : [],

    });

    $(document).on('click', 'th input:checkbox', function() {
      var that = this;
      $(this).closest('table').find('tr > td:first-child input:checkbox').each(function() {
        this.checked = that.checked;
        $(this).closest('tr').toggleClass('selected');
      });

    });

    $('[data-rel="tooltip"]').tooltip({
      placement : tooltip_placement
    });
    function tooltip_placement(context, source) {
      var $source = $(source);
      var $parent = $source.closest('table')
      var off1 = $parent.offset();
      var w1 = $parent.width();

      var off2 = $source.offset();
      //var w2 = $source.width();

      if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2))
        return 'right';
      return 'left';
    }
  }
</script>