<!-- page specific plugin styles -->
<!-- <link rel="stylesheet" href="../../assets/css/jquery-ui.custom.css" /> -->

<!-- page specific plugin styles -->
<link rel="stylesheet" href="assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet"
	href="assets/css/bootstrap-datetimepicker.min.css" />

<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">
	<div class="row">
		<div class="col-xs-12 page-header">
			<div class="pull-left">
				<div>
					<h1 class="blue">
						User story: <a ui-sref="task.list({ usId: userStory.id })">{{userStory.name}}</a>
					</h1>
				</div>
				<div class="padding-left-50px">
					<h4>Create a task</h4>
				</div>
			</div>
		</div>
		<div ng-show="success" class="col-xs-12 center" id="success">
			<div class="alert alert-success">{{success}}</div>
		</div>
		
		
		<div class="col-xs-12">
			<form name="form" class="form-horizontal" novalidate>				
				<!-- Name -->
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" for="name">
						Name <i class="red">*</i>
					</label>
					<div class="col-sm-8 col-xs-10">
						<div ng-class="{ 'has-error': form.name.$touched && form.name.$invalid }">
							<input type="text" id="name" name="name" class="form-control"
								ng-model="task.name" required />
						</div>
						<div ng-show="form.$submitted || form.name.$touched">
							<div ng-show="form.name.$error.required && !error.name"
								class="alert alert-danger">Name is required</div>
							<div ng-show="error.name" class="alert alert-danger">{{error.name}}</div>
						</div>
					</div>
				</div>
				
				<!-- Description -->
				<div class="form-group ">
					<label class="col-sm-2 control-label no-padding-right"
						for="desc"> Description </label>
					<div class="col-sm-8 col-sx-10">
						<div class="wysiwyg-editor" id="desc"></div>
					</div>
				</div>
				
				<!-- State, Estimate -->
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" for="state"> State <i class="red">*</i> </label>
					<div class="col-sm-3">
						<div ng-class="{ 'has-error': form.state.$touched && form.state.$invalid }">
							<select class="form-control" id="state" name="state" ng-model="task.state" required>
								<option ng-repeat="taskState in taskStates" value={{taskState}}>{{taskState.name}}</option>
							</select>
						</div>
						<div ng-show="form.$submitted ||form.state.$touched || form.state.$dirty">
							<div ng-show="form.state.$error.required && !error.taskState" class="alert alert-danger">Please choose a Task State</div>
							<div ng-show="error.taskState" class="alert alert-danger">{{error.taskState}}</div>
						</div>
					</div>

					<label class="col-sm-2 control-label no-padding-right" for="estimate"> Estimate</label>
					<div class="col-sm-3">
						<div ng-class="{ 'has-error': form.estimate.$touched && form.estimate.$invalid }">
							<input type="text" id="estimate" name="estimate"
								class="col-sm-9" ng-model="task.taskEst" smart-float="6"
								placeholder="0.00" /> <label class="col-sm-3 no-padding-right">
								(Hours)</label>
						</div>
						<div ng-show="form.estimate.$error.float" 
								class="col-sm-9 alert alert-danger"> 
								Please enter float number between 0 to 999
						</div>
					</div>
				</div>

				<!-- Owner, Time Spent -->
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" for="state"> Owner </label>
					<div class="col-sm-3">
						<div ng-class="{ 'has-error': form.owner.$touched && form.owner.$invalid }">
							<select class="form-control" id="owner" name="owner" ng-model="task.owner">
								<option ng-repeat="user in users" value={{user}}>{{user.username}}</option>
							</select>
						</div>
					</div>

					<label class="col-sm-2 control-label no-padding-right" for="timeSpent"> Time spent</label>
					<div class="col-sm-3">
						<div ng-class="{ 'has-error': form.timeSpent.$touched && form.timeSpent.$invalid }">
							<input type="text" id="timeSpent" name="timeSpent" disabled="disabled"
								class="col-sm-9" ng-model="task.spentTime" smart-float="6"
								placeholder="0.00" /> <label class="col-sm-3 no-padding-right">
								(Hours)</label>
						</div>
						<div ng-show="form.timeSpent.$error.float" 
								class="col-sm-9 alert alert-danger"> 
								Please enter float number between 0 to 999
						</div>
					</div>
				</div>

				<!-- Note -->
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" for="note"> Note </label>
					<div class="col-sm-8 col-sx-10">
						<div class="wysiwyg-editor" id="note" placeholder="note"></div>
					</div>
				</div>
				
				<!-- Buttons -->
				<div class="center clearfix">
					<hrm-button type="create" ng-disabled="!form.$valid"
						ng-click="createAndClose()"></hrm-button>
					<hrm-button type="reset" ng-click="reset(form)"></hrm-button>
					<hrm-button type="close" ng-click="goToTaskList()"></hrm-button>
				</div>		
			</form>
		</div>
	</div>
</div>

<!-- page specific plugin scripts -->
<script type="text/javascript">
	var scripts = [ null, 'assets/js/bootstrap-wysiwyg.min.js', 'assets/js/bootbox.min.js', 'assets/js/app/ng/shared/jquery.bpopup.min.js', null ]; 
	$('.page-content-area').ace_ajax('loadScripts', scripts, function() {		
		initAll();
	});
	
	var initAll = function() {		
		$('#note').css({	//note texterea
		      'height' : '150px'
	    }).ace_wysiwyg();

		var toolbar = $('#note').prev().get(0);
		$(toolbar).addClass('wysiwyg-style2'); 		
		
		$('#desc').css({	//	Description texterea
		      'height' : '150px'
	    }).ace_wysiwyg();

		var description = $('#desc').prev().get(0);
		$(description).addClass('wysiwyg-style2');
	};
</script>