<!-- page specific plugin styles -->
<!-- <link rel="stylesheet" href="../../assets/css/jquery-ui.custom.css" /> -->
<link rel="stylesheet" href="assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css" />
<!-- page's inner styles -->
<style>
.border-top {
	border-top: 1px solid #E3E3E3;
	border-top-color: rgba(0, 0, 0, 0.11);
}

.border-right {
	border-right: 1px solid #E3E3E3;
	border-right-color: rgba(0, 0, 0, 0.11);
}

.border-bottom {
	border-bottom: 1px solid #E3E3E3;
	border-bottom-color: rgba(0, 0, 0, 0.11);
}

.border-left {
	border-left: 1px solid #E3E3E3;
	border-left-color: rgba(0, 0, 0, 0.11);
}

label {
    font-weight: bold;
}

.widget-title {
	font-weight: bold;
}

.wysiwyg-editor {
	height: 150px;
}
</style>

<!-- ajax layout which only needs content area -->
<div class="page-header">
	<h1>Create UserStory</h1>
</div>
<!-- /.page-header -->
<div data-ng-show="success" class="col-xs-12 center" id="success">
      <div class="alert alert-success">{{success}}</div>
</div>
<!-- PAGE CONTENT BEGINS -->
<form role="form" name="form">
	<div class="col-md-9 border-right">
		<div class="row">
			<div class="form-group col-md-1">
				<label class="control-label no-padding-right" for="name">Name<i class="red">*</i></label>
			</div>
			<div class="form-group col-md-11">
				<div data-ng-class="{ 'has-error': form.name.$touched && form.name.$invalid }">
					<input type="text" id="name" name="name" data-ng-model="name"
						class="form-control" required>
				</div>
				<div data-ng-show="form.$submitted || form.name.$touched">
					<div data-ng-show="form.name.$error.required && !error.name"
						class="alert alert-danger">Name is required</div>
					<div data-ng-show="error.name" class="alert alert-danger">{{error.name}}</div>
				</div>
			</div>
			<div class="form-group col-md-3">
				<div data-ng-class="{ 'has-error': form.state.$touched && form.state.$invalid }">
					<label class="control-label no-padding-right" for="state">State<i class="red">*</i></label>
					<select class="form-control" id="state" data-ng-model="usstate" required>
						<option data-ng-repeat="usState in usStates" value={{usState}}>{{usState.name}}</option>
					</select>
				</div>
				<div data-ng-show="form.$submitted ||form.state.$touched || form.state.$dirty">
					<div data-ng-show="form.state.$error.required && !error.userStoryState"
						class="alert alert-danger">Please choose a UserStory State</div>
					<div data-ng-show="error.userStoryState" class="alert alert-danger">{{error.userStoryState}}</div>
				</div>
				
			</div>
			<div class="form-group col-md-2">
				<label class="control-label no-padding-right" for="planest">PlanEST</label> 
				<div data-ng-class="{ 'has-error': form.planest.$touched && form.planest.$invalid }">
					<input type="text" class="form-control" id="planest" name="planest" placeholder="0.00 (hours)" data-ng-model="planest" data-smart-float placeholder="0.00" >
				</div>
				<div data-ng-show="form.planest.$error.float" class="alert alert-danger">Invalid float number</div>
			</div>
			<div class="form-group col-md-2">
				<label class="control-label no-padding-right" for="t-todo">ToDo</label> 
				<div data-ng-class="{ 'has-error': form.todo.$touched && form.todo.$invalid }">
					<input type="text" id="t-todo" name="todo" class="form-control" placeholder="0.00 (hours)" data-ng-model="todo" data-smart-float>
				</div>
				<div data-ng-show="form.todo.$error.float" class="alert alert-danger">Invalid float number</div>
			</div>
			<div class="form-group col-md-2">
				<label class="control-label no-padding-right" for="t-actual">Actual</label>
				<div data-ng-class="{ 'has-error': form.actual.$touched && form.actual.$invalid }">
					<input type="text" id="t-actual" name="actual" class="form-control" placeholder="0.00 (hours)" data-ng-model="actual" data-smart-float>
				</div>
				<div data-ng-show="form.actual.$error.float" class="alert alert-danger">Invalid float number</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="form-group col-md-12">
				<div class="widget-box">
					<div class="widget-header widget-header-flat">
						<h4 class="widget-title">Description</h4>
					</div>
					<div class="widget-body">
						<div class="wysiwyg-editor" id="description" data-ng-model="description"></div>
					</div>
				</div>
			</div>

		</div>
		<br />
		<div class="row">
			<div class="form-group col-md-12">
				<div class="widget-box">
					<div class="widget-header widget-header-flat">
						<h4 class="widget-title">Schedule</h4>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="row">
								<div class="form-group col-md-4">
									<label class="control-label no-padding-right" for="iteration">Iteration</label>
									<select class="form-control" id="iteration" data-ng-model="iteration">
										<option data-ng-repeat="sprint in sprints" value={{sprint}}>{{sprint.name}}</option>
									</select>
									<br/>
									<label class="control-label no-padding-right" for="businessval">Business Value</label>
									<div data-ng-class="{ 'has-error': form.businessval.$touched && form.businessval.$invalid }">
										<input type="text" class="form-control" id="businessval" name="businessval" data-ng-model="businessval" data-smart-float>
									</div>
									<div data-ng-show="form.businessval.$error.float" class="alert alert-danger">Invalid number</div>
								</div>
								<div class="form-group col-md-4">
									<label class="control-label no-padding-right" for="builddate">Build Date</label>
									<div class="input-group"
										data-ng-class="{ 'has-error': form.builddate.$invalid }">
										<input id="builddate" name="builddate" type="text"
											class="form-control" data-ng-model="builddate"/>
										<span class="input-group-addon"> <i
											class="fa fa-clock-o bigger-110"></i>
										</span>
									</div>
									<div data-ng-show="form.velocity.$error.float" class="alert alert-danger">Invalid number</div>
									<br/>
									<label class="control-label no-padding-right" for="pointval">Point Value</label>
									<div data-ng-class="{ 'has-error': form.pointval.$touched && form.pointval.$invalid }">
										<input type="text" class="form-control" id="pointval" name="pointval" data-ng-model="pointval" data-smart-float>
									</div>
									<div data-ng-show="form.pointval.$error.float" class="alert alert-danger">Invalid number</div>
								</div>
								
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<br />
		<!-- <div class="row">
			<div class="form-group col-md-12">
				<div class="widget-box">
					<div class="widget-header widget-header-flat">
						<h4 class="widget-title">Attachment</h4>
					</div>
					<div class="widget-body">
						<table id="t-attachment"
							class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th><i
										class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i> When</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Document.doc</td>
									<td>The first attachment</td>
									<td>9/8/2015</td>
								</tr>
								<tr>
									<td>Reporting.xls</td>
									<td>The excel file</td>
									<td>9/7/2015</td>
								</tr>
								<tr>
									<td>Analytic.pdf</td>
									<td>Another .pdf file</td>
									<td>9/10/2015</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>	
			</div>
		</div> -->
		<div class="row">
			<div class="form-group col-md-12">
				<div class="widget-box">
					<div class="widget-header widget-header-flat">
						<h4 class="widget-title">Note</h4>
					</div>
					<div class="widget-body">
						<div class="wysiwyg-editor" id="note" data-ng-model="note"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<div class="widget-box widget-color-dark light-border ui-sortable-handle">
				<div class="widget-header">
					<h5 class="widget-title smaller">Project</h5>
					<div class="widget-toolbar">
					<span class="label label-success">16%</span>
					<i class="ace-icon fa fa-arrow-up"></i>
				</div>
				</div>
				
				<div class="widget-body">
					<div class="widget-main padding-6">
						<div class="alert alert-info">{{project.name}}</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="form-group">
			<label class="control-label no-padding-right" for="t-assignee">Owner</label>
			<select class="form-control" id="t-assignee" data-ng-model="assignee">
				<option data-ng-repeat="user in users" value={{user}}>{{user.username}}</option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label no-padding-right" for="parent">Parent</label>
			<select class="form-control" id="parent" data-ng-model="parent">
				<option data-ng-repeat="parent in parents" value={{parent}}>{{parent.name}}</option>
			</select>
		</div>
		
		<!-- <div class="form-group">
			<label class="control-label no-padding-right" for="t-project">Project</label>
			<select class="form-control" id="t-project" data-ng-model="project">
				<option data-ng-repeat="project in projects" value={{project}}>{{project.name}}</option>
			</select>
		</div> -->
	</div>
	<div class="clearfix"></div>
	<div class="form-group col-md-9">
		<div class="form-actions center clearfix">
	  <button data-ng-disabled="form.$invalid" type="button" id="createbtn" class="btn btn-success" data-ng-click="saveAndClose()">
            <i class="ace-icon fa fa-save icon-on-right bigger-110"></i> Create
          </button>
          <button type="button" class="btn btn-warning" ng-click="reset(form)">
            <i class="ace-icon fa fa-undo bigger-110"></i> Reset
          </button>
          <button type="button" class="btn btn-purple" ng-click="goToSprintList()">
            <i class="ace-icon fa fa-times bigger-110"></i> Close
          </button>
		</div>
	</div>
</form>
<!-- inline scripts related to this page -->

<!-- page specific plugin scripts -->
<script type="text/javascript">
	var scripts = [null, 'assets/js/bootstrap-wysiwyg.min.js','assets/js/bootbox.min.js', 
	               'assets/js/date-time/bootstrap-datetimepicker.min.js', './assets/js/app/ng/shared/jquery.bpopup.min.js', null]; //[null, './assets/js/jquery-ui.custom.js', './assets/js/bootbox.js', null]
	$('.page-content-area').ace_ajax('loadScripts', scripts, function() {
	  //inline scripts related to this page
	  initAll();
	});
</script>
<script type="text/javascript">
	var initAll = function() {
		
		//datetimepicker plugin
	    $('#builddate').datetimepicker({
	      format : 'DD-MM-YYYY'
	    }).next().on(ace.click_event, function(e) {
	      $(this).prev().focus();
	      //$(this).data("DateTimePicker").minDate(date());
	    });
		
		//note texterea
		$('#note').ace_wysiwyg();

		var toolbar = $('#note').prev().get(0);
		$(toolbar).addClass('wysiwyg-style2');
		$('#description').ace_wysiwyg();

		var description = $('#description').prev().get(0);
		$(description).addClass('wysiwyg-style2');
		
		/* $("#createbtn").on("click", function() {
		    $("body").scrollTop(0);
		}); */
	};
	
	jQuery(function($) {

		//RESIZE IMAGE

		//Add Image Resize Functionality to Chrome and Safari
		//webkit browsers don't have image resize functionality when content is editable
		//so let's add something using jQuery UI resizable
		//another option would be opening a dialog for user to enter dimensions.
		if (typeof jQuery.ui !== 'undefined' && ace.vars['webkit']) {

			var lastResizableImg = null;
			function destroyResizable() {
				if (lastResizableImg == null)
					return;
				lastResizableImg.resizable("destroy");
				lastResizableImg.removeData('resizable');
				lastResizableImg = null;
			}

			var enableImageResize = function() {
				$('.wysiwyg-editor')
						.on(
								'mousedown',
								function(e) {
									var target = $(e.target);
									if (e.target instanceof HTMLImageElement) {
										if (!target.data('resizable')) {
											target.resizable({
												aspectRatio : e.target.width
														/ e.target.height,
											});
											target.data('resizable', true);

											if (lastResizableImg != null) {
												//disable previous resizable image
												lastResizableImg
														.resizable("destroy");
												lastResizableImg
														.removeData('resizable');
											}
											lastResizableImg = target;
										}
									}
								})
						.on(
								'click',
								function(e) {
									if (lastResizableImg != null
											&& !(e.target instanceof HTMLImageElement)) {
										destroyResizable();
									}
								}).on('keydown', function() {
							destroyResizable();
						});
			}

			enableImageResize();

			/**
			//or we can load the jQuery UI dynamically only if needed
			if (typeof jQuery.ui !== 'undefined') enableImageResize();
			else {//load jQuery UI if not loaded
				$.getScript($path_assets+"/js/jquery-ui.custom.min.js", function(data, textStatus, jqxhr) {
					enableImageResize()
				});
			}
			 */
		}

	});
</script>