<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:jpa="http://www.springframework.org/schema/data/jpa"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

  <context:annotation-config/>
  <context:component-scan base-package="vn.com.tma.hrm"></context:component-scan>
  <mvc:annotation-driven />
  <mvc:interceptors>
    <bean id="webContentInterceptor" class="org.springframework.web.servlet.mvc.WebContentInterceptor">
      <property name="cacheSeconds" value="0"/>
      <property name="useExpiresHeader" value="true"/>
      <property name="useCacheControlHeader" value="true"/>
      <property name="useCacheControlNoStore" value="true"/>
    </bean>
  </mvc:interceptors>
  <!-- handle default url "/" -->
  <mvc:default-servlet-handler/>
  <!-- mapping default url "/" to "home" -->
  <mvc:view-controller path="/" view-name="home"/>
  
  <!-- static resources mapping -->
  <mvc:resources mapping="/libs/**" location="/libs/"></mvc:resources>
  <mvc:resources mapping="/assets/**" location="/assets/"></mvc:resources>
  <mvc:resources mapping="/app/**" location="/app/"></mvc:resources>

  <!-- JPA configurations -->
  <jpa:repositories base-package="vn.com.tma.hrm.repository" 
                    entity-manager-factory-ref="entityManagerFactoryBean"
                    transaction-manager-ref="txManager"/>

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations" value="classpath:application.properties" />
  </bean>
  <bean id="hrmDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="${db.driver}" />
    <property name="url" value="${db.url}" />
    <property name="username" value="${db.username}" />
    <property name="password" value="${db.password}" />
  </bean>

  <bean id="entityManagerFactoryBean" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource" ref="hrmDataSource" />
    <property name="packagesToScan" value="${entitymanager.packages.to.scan}" />
    <property name="jpaVendorAdapter">
      <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
    </property>
    <property name="jpaProperties">
      <props>
        <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
        <prop key="hibernate.dialect">${hibernate.dialect}</prop>
        <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
        <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
      </props>
    </property>
  </bean>

  <bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactoryBean" />
  </bean>
  <tx:annotation-driven />

  <!-- Spring data REST configurations -->
  <bean id="baseUri" class="org.springframework.data.rest.webmvc.BaseUri">
    <constructor-arg value="/api" />
  </bean>
  <!-- <bean class="org.springframework.data.rest.webmvc.config.RepositoryRestMvcConfiguration"/> -->
</beans>