<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
xmlns:beans="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

<!-- Satic content -->
<http pattern="/assets/**" security="none"/>
<http pattern="/login.jsp" security="none"/>
<!--http://docs.spring.io/spring-security/site/docs/3.2.0.RELEASE/reference/htmlsingle/#ns-global-method-->
<global-method-security pre-post-annotations="enabled" />


	<!-- Protected Requests -->

	<http use-expressions="true">
		<intercept-url pattern="/**" access="permitAll"/>
		<intercept-url pattern="/greeting" access="permitAll"/>
		<form-login login-page='/login.jsp'/>
	</http>

	<authentication-manager>
	    <authentication-provider user-service-ref='myUserDetailsService'>
	    	<password-encoder ref="bcryptEncoder"/>
    	</authentication-provider>
  	</authentication-manager>
  
  <beans:bean id="myUserDetailsService" class="vn.com.tma.hrm.security.MyUserDetailsService"/>	
	
	<beans:bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
	    <beans:constructor-arg name="strength" value="15" /> 
	</beans:bean>

</beans:beans>